<div>
  <section *ngFor="let establishment of establishments; index as index ">
    <div (click)="toDetails(establishment.id)" class="card">
      <img src={{establishment.picture}} id="img-card"/>
      <div>
        <strong id="establishmentName">{{establishment.name}}
          <span id="establishmentId">{{establishment.id}}</span>
        </strong>
        <p id="establishmentAddress">{{establishment.address}}</p>
      </div>
      <mat-icon class="exit-custom">keyboard_arrow_right</mat-icon>
    </div>
  </section>
</div>

