section {
  background: #fff;
  padding: 0 30px;

  > div {
    height: 64px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      cursor: pointer;

      img {
        padding: 0 15px;
        width: 100px;
      }
    }
  }
}
