<section>
  <form [formGroup]="establishmentForm" class="container" (ngSubmit)="onSubmit()">
    <header>
      <mat-icon class="back" (click)="back()">keyboard_backspace</mat-icon>
      <img src={{establishment.picture}}/>
      <aside>
        <h1>{{establishmentForm.get('name').value}}</h1>
        <p>ID: {{establishment.id}}</p>
      </aside>
    </header>
    <div class="row">
      <div class="col-md-12 titleDivider">
        <h2>Informações básicas</h2>
      </div>
      <div class="col-md-4 mt-10">
        <label for="name">Nome</label>
        <input id="name" type="text" class="form-control" formControlName="name"/>
      </div>
      <div class="col-md-4 mt-10">
        <label for="city">Cidade</label>
        <select class="custom-select custom-select-lg customSelect" formControlName="city" placeholder="Selecione">
          <option value="Rio Branco">Rio Branco</option>
          <option value="Maceió">Maceió</option>
          <option value="Macapá">Macapá</option>
          <option value="Manaus">Manaus</option>
          <option value="Salvador">Salvador</option>
          <option value="Fortaleza">Fortaleza</option>
          <option value="Vitória">Vitória</option>
          <option value="Goiânia">Goiânia</option>
          <option value="São Luís">São Luís</option>
          <option value="Cuiabá">Cuiabá</option>
          <option value="Campo Grande">Campo Grande</option>
          <option value="Belém">Belém</option>
          <option value="João Pessoa">João Pessoa</option>
          <option value="Curitiba">Curitiba</option>
          <option value="Recife">Recife</option>
          <option value="Teresina">Teresina</option>
          <option value="Rio de Janeiro">Rio de Janeiro</option>
          <option value="Natal">Natal</option>
          <option value="Porto Alegre">Porto Alegre</option>
          <option value="Porto Velho">Porto Velho</option>
          <option value="Boa Vista">Boa Vista</option>
          <option value="Florianópolis">Florianópolis</option>
          <option value="São Paulo">São Paulo</option>
          <option value="Aracaju">Aracaju</option>
          <option value="Palmas">Palmas</option>
          <option value="Brasília">Brasília</option>
        </select>
      </div>
      <div class="col-md-4 mt-10">
        <label for="address">Endereço</label>
        <input id="address" type="text" class="form-control" formControlName="address"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 titleDivider">
        <h2>Financeiro</h2>
      </div>
      <div class="col-md-4 mt-10">
        <label for="bank">Banco</label>
        <select class="custom-select custom-select-lg customSelect" formControlName="bank" placeholder="Selecione">
          <option value="1">Banco do Brasil</option>
          <option value="2">NuBank</option>
          <option value="3">Banco Inter</option>
          <option value="4">Banco Santander</option>
          <option value="5">Banco Itaú</option>
        </select>
      </div>
      <div class="col-md-4 mt-10">
        <label for="account">Tipo de Conta</label>
        <select class="custom-select custom-select-lg customSelect" formControlName="account" placeholder="Selecione">
          <option value="1">Conta corrente</option>
          <option value="2">Conta poupança</option>
        </select>
      </div>
      <div class="col-md-4 mt-10">
        <label for="cnpj">CNPJ</label>
        <input id="cnpj" type="text" class="form-control" formControlName="cnpj" mask="00.000.000/0000-99"/>
      </div>
      <div class="col-md-2 col-7 mt-10">
        <label for="agencyNumber">Agência</label>
        <input id="agencyNumber" type="number" class="form-control" formControlName="agencyNumber"/>
      </div>
      <div class="col-md-2 col-3 mt-30">
        <input id="agencyNumberVerify" type="number" class="form-control numberCustom" formControlName="agencyNumberVerify"/>
      </div>
      <div class="col-md-2 col-7 mt-10">
        <label for="accountNumber">Conta</label>
        <input id="accountNumber" type="number" class="form-control" formControlName="accountNumber"/>
      </div>
      <div class="col-md-2 col-3 mt-30">
        <input id="accountNumberVerify" type="number" class="form-control numberCustom" formControlName="accountNumberVerify"/>
      </div>
      <div class="col-md-4 mt-10">
        <label for="automaticWithdraw">Saque automático?</label>
        <input id="automaticWithdraw" type="checkbox" formControlName="automaticWithdraw" class="checkboxCustom"/>
      </div>
      <div class="offset-md-10 col-md-2">
        <button type="submit" [disabled]="!establishmentForm.valid">
          Salvar
        </button>
      </div>
    </div>
  </form>
</section>
